@media (max-width: 768px){
    header{
        text-align: center;
    }
    nav{
        display: flex;
        align-items: center;
        align-content: center;
    }
    nav a{
        padding: 10px 0;
    }
     main{
        padding: 10px;
    }
     .owner, .co-owner{
        flex-direction: column;
        gap: 10px;
    }
     .wrapper{
        width: 100%;
        padding: 20px;
    }
}
@media (min-width: 769px){
        header{
            text-align: left;
        }
        nav{
            display: flex;
            align-items: center;
        }
        nav a{
            padding: 10px 15px;
        }
        main{
            padding: 20px;
        }
        .owner, .co-owner{
            flex-direction: row;
            gap: 5rem;
        }
        .wrapper{
            width: 420px;
            padding: 30px 40px;
        }
}
@media screen and (max-width: 768px) {
    .index, .contact, .aboutus, .lgsg, .services, .pm, .mr, .us, .ss{
        background: url(../img/cc.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        backdrop-filter: blur(2px);
    }
    
}
@media screen and (min-width: 769px) {
    .index, .contact, .aboutus, .lgsg, .services, .pm, .mr, .us, .ss{
        background: url(../img/cc.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        backdrop-filter: blur(2px);
    }
}
.index{ 
    background: url(../img/cc.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);

header{
    float: top;
    position: top;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
    
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(106, 214, 24);
    margin-top: 0px;
}
nav {
    overflow: hidden;
    margin-top: 0px;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px 15px;

}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
main{ 
    float: center;
    position :center;
    border: 2px solid rgb(106, 214, 24);
    margin: 50px auto;
    padding: 20px;

p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family:  'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
h2{ 
    color: rgb(106, 214, 24);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
}
}
footer{ 
    border-top: 1px solid rgb(106, 214, 24);
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}

.contact{
     background: url(../img/cc.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2px);

header{
    float: top;
    position: top;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
    
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(106, 214, 24);
    margin-top: 0px;
}
nav {
    overflow: hidden;
    margin-top: 0px;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px 15px;

}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
main{ 
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

h2{ 
    color: rgb(106, 214, 24);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
}
h5{
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
        margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}

.aboutus{
     background: url(../img/cc.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
     
header{
    float: top;
    position: top;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
    
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(106, 214, 24);
    margin-top: 0px;
}
nav {
    overflow: hidden;
    margin-top: 0px;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px 15px;

}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
main{

p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
}
h2{ 
    color: rgb(106, 214, 24);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}
h3{
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    border-top: 1px solid rgb(106, 214, 24);
    font-style: italic;

}
.owner{
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;
    flex-wrap: wrap;

img{
    width: 150px;
    vertical-align: middle;
}
p{
    flex: 1;
}
}
.co-owner{
     display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;
    flex-wrap: wrap;

img{
    width: 150px;
    vertical-align: middle;
}
p{
    flex: 1;
}
}
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
    
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    border-top: 1px solid rgb(106, 214, 24);
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}

.lgsg{
    background: url(../img/cc.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
     
header{
    float: top;
    position: top;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
    
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(106, 214, 24);
    margin-top: 0px;
}
nav {
    overflow: hidden;
    margin-top: 0px;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px 15px;

}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
main{ 
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 420px;
    margin: 0 auto;
    background: transparent;
    border-radius: 50px;
    padding: 30px 40px;
    border: 2px solid rgb(106, 214, 24);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.wrapper h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.wrapper .input-box{
    background: transparent;
    height: 40px;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border : 1px solid rgb(106, 214, 24);
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(205, 217, 197);
}
.input-box input::placeholder{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}
.wrapper .confirm{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    color: rgb(205, 217, 197);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.confirm label input{
    accent-color: rgb(106, 214, 24);
    padding: 0px 10px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    color: rgb(106, 214, 24);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(205, 217, 197);
    cursor: pointer;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(222, 213, 213, 0.847);
}
.wrapper .account link{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
        text-align: center;
        margin-top: 10px;
}
.account link p a{
    color: rgb(205, 217, 197);
    text-decoration: none;
    font-weight: 900;
}
.account link p a:hover{
     color: rgb(106, 214, 24);
     text-decoration: none;
     font-weight: 900;
}
h3{
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
    position: bottom;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}
.services{
    background: url(../img/cc.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
     
header{
    float: top;
    position: top;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
    
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 5px solid rgb(106, 214, 24);
    margin-top: 0px;
}
nav {
    overflow: hidden;
    margin-top: 0px;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 800;
    padding: 10px 15px;

}
nav a:hover{
    color: rgb(106, 214, 24);

}
}

main{ 
h2{ 
    color: rgb(106, 214, 24);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;  
    font-weight: 900;
}
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
}
h3{
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid rgb(106, 214, 24);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s ease;
    mask-image: linear-gradient(to bottom, transparent, rgb(201, 111, 31));
img:hover{
        color: rgb(106, 214, 24);
    }
}
}
footer{ 
    border-top: 1px solid rgb(106, 214, 24);
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}






.pm{
    background: url(../img/oo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);

p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
     margin-top: 0px;
}
h5{ 
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}
.mr{
    background: url(../img/oo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);

p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
}
h5{ 
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}
.us{
    background: url(../img/oo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);

p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
     margin-top: 0px;
}
h5{ 
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}
.ss{
     background: url(../img/oo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
    margin-top: 0px;
}
h5{ 
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}
.eds{
    background: url(../img/oo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(1px);
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h1{ 
    color: rgb(106, 214, 24);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(106, 214, 24);
     margin-top: 0px;
}
h5{ 
    color: rgb(106, 214, 24);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
footer{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    float: bottom;
    position: bottom;
    text-align: center;
p{ 
    color: rgb(205, 217, 197);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-top: 1px solid rgb(106, 214, 24);
    margin-bottom: 0px;
}
h4{ 
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
}
nav a{
    color: rgb(205, 217, 197);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    transition: 0.5s ease;
}
nav a:hover{
    color: rgb(106, 214, 24);
}
}
}

